
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

/dist/
/build/
/out/

/.vite/

.env
.env.local
.env.*.local
.env.development
.env.production
.VERCEL_ENV
.vercel/*.env

/.vercel/
/.vercelignore

.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

coverage/
logs/
*.log

*.tmp
tmp/
*.cache

/.history/
dist-*/

/.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/patches


VERCEL_BLOB_TOKEN
BLOB_PROVIDER_TOKEN
